extends base.pug

block scripts 
    include ../static/index.js
block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content
    h1 About Us 
    p#container
        div.info
            h2 History
            |Samarth Hapse, a F.Y B.tech student from JSPM's Rscoe , founded Lensmart.com in 2022 along with Amit Chaudhary and Sumeet Kapahi.In 2022, IDG Ventures India directed the company to also sell wristwatches, bags and jewellery online to replicate Titan Company's business.In 2022, the company launched Watchkart.com and Bagskart.com, and the following year, it started Jewelskart.com.By the end of 2022, only Lenskart.com remained operative as the company shut down its other three websites to focus on the eyewear segment.
        div.info
            h2 Co-founder
            |Co-founder and CEO of Lensmart, Samarth Hapse
            |Lensmart launched the eyewear brand John Jacobs in 2023. In January 2023, Lenskart signed up its first brand ambassador Katrina. In 2023, the company became profitable, EBITDA positive.In March 2023, the company hired Bhuvan B as its first male brand ambassador.
        div.info
            h2 Market Acquisation 
            |Acquisition of Owndays
            |In June 2022, Lenskart announced the acquisition of a majority stake in the Japanese eyewear brand Owndays in a cash-and-stock deal which valued Owndays at around US$400 million.
        div.info
            h2 Fundings
            |Fundings
            |In 2023, IDG Ventures India invested $4 million in the company. In February 2023, the company raised ₹135 crore from TPG Growth, TR Capital and IDG Ventures India. In 2023, International Finance Corporation, Adveq Management, TPG Growth and IDG Ventures India invested a total of $60 million in Lenskart. The company also saw investments from Ratan Tata and Kris Gopalakrishnan.
            |In March 2023, Wipro Chairman Azim Premji invested ₹4 crore in the group, taking the valuation of the company to ₹3,000 crore. The company reached a valuation of $1 billion in December 2019 after SoftBank invested around $275 million.In March 2023, the Abu Dhabi Investment Authority invested $500 million in Lenskart at a valuation of $4.5 billion.