doctype html
html
  head
    title Welcome to Lensmart
    block scripts
    block style  
  body
    nav#navbar 
      div#logo 
        img(src="/pintya/img/logo2.png", alt="")  
        | Lensmart   
      ul
        li #[a(href="/") Home]
        li #[a(href="/about") About] 
        li #[a(href="/shopping") Shopping] 
        li #[a(href="/contact") Contact] 
        li #[a(href="/feedback") Feedback ]
    block content
    footer#footer
        | Copyright © 2023 SamarthHapse.com | All Rights Reserved